@mixin flexer{
      display: flex;
      align-items: center;
      justify-content: center;
}

@mixin flexerJustEnd{
      @include flexer;
      justify-content: flex-end;
}

@mixin flexerEnd{
      @include flexer;
      align-items: flex-end;
}

@mixin flexCol{
      @include flexer;
      flex-direction: column;
}

@mixin flexColJust{
      @include flexCol;
      justify-items: center;
}

@mixin flexerJust{
      @include flexer;
      justify-items: center;
}

@mixin flexBet{
      @include flexer;
      justify-content: space-between;
}

@mixin flexEven{
      @include flexer;
      justify-content: space-evenly;
}

@mixin flexColEven{
      @include flexCol;
      justify-content: space-evenly;
}

@mixin flexerStart{
      @include flexer;
      align-items: flex-start;
}
    
@mixin flexColStart{
      @include flexCol;
      align-items: flex-start;
}

@mixin of-type($num){
      @if $num == 1{
            &:nth-of-type(1){
            @content;
            }
      }

      @else if $num == 2{
            &:nth-of-type(2){
            @content;
            }
      }

      @else if $num == 3{
            &:nth-of-type(3){
            @content;
            }
      }
}

@mixin nthChild($num){
      &:nth-child(#{$num}) {
            @content;
      }
}
